.borrow-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .borrow-container .ant-card {
    width: 100%;
  }
  
  .borrow-container .ant-form-inline .ant-form-item {
    margin-right: 16px;
    margin-bottom: 16px;
  }