.return-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .return-container .ant-card {
    width: 100%;
  }
  
  .return-container .ant-form-inline .ant-form-item {
    margin-right: 16px;
    margin-bottom: 16px;
  }

  .checked-row {
    background-color: #f6ffed;
  }