.home img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 40px;
}

.home .name{
    font-size: 32px;
    margin-bottom:10px;
}

.home .user{
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
}

.home .access{}

.userCard{
    width: 450px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.home .login-info p{
    line-height: 28px;
    font-size: 14px;
    color: #999999;
}

.home .login-info p span{
    color: #333;
    margin-left: 60px;
}

.home .tableCard{
    width: 1294px;
    border: 1px solid #ccc;
}

.home .chartCard{
    width: 800px;
    height: 317px;
    border: 1px solid #ccc;
    margin-left: 50px;
}